<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ Node</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="border: 1px solid black; background-color: aqua;">

    <div id="Header" style="background-color: brown;">
        <div class="List">
            <ul style="display: flex; list-style: none; box-sizing: border-box; ">
                <li><a href="">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div>
        <ul>
            <% for(var i=0; i < dataUser.length; i++) { %>

                <li>
                    <a href="">
                        <%= dataUser[i].id %>

                    </a>
                    <a href="">
                        <%= dataUser[i].Lname %>

                    </a>
                    <a href="">
                        <%= dataUser[i].Fname %>

                    </a>
                    <a href="">
                        <%= dataUser[i].mail %>
                    </a>
                    <a href="/detail/user/<%= dataUser[i].id %>">Detail</a>
                    <form action="/view/<%= dataUser[i].id %>" method="get">
                        <button type="submit" name="update">Update</button>
                    </form>
                    <form action="/deleteUser" method="POST">
                        <button type="submit" name="delete" value="<%= dataUser[i].id %>">
                            Delete</button>
                    </form>
                </li>


                <% } %>
        </ul>
    </div>

    <form action="/portnew" method="POST">
        <h4>Create New User</h4>
        <div>
            <label>Ho</label>
            <input type="text" name="Fname">
        </div>
        <div>
            <label for="txtten">ten</label>
            <input type="text" name="Lname" />
        </div>
        <div>
            <label for="txtMail">Mail</label>
            <input type="email" name="Email" />
        </div>
        <div>
            <label for="txtaddress">diachi</label>
            <input type="text" name="address" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>