<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views</title>
</head>

<body>
    <h1>Update Nhan Vien <%= dataUser.Lname%>
    </h1>

    <form action="/update" method="post">
        <div>
            <h4>Ho</h4>
            <input type="text" name="id" value="<%=dataUser.id%>">

        </div>
        <div>
            <h4>Ho</h4>
            <input type="text" name="Fname" value="<%=dataUser.Fname%>">

        </div>
        <div>
            <h4>Ten</h4>
            <input type="text" name="Lname" value="<%=dataUser.Lname%>">
        </div>
        <div>
            <h4>Dia Chi</h4>
            <input type="text" name="address" value=" <%= dataUser.address%>">
        </div>
        <div>
            <h4>Email</h4>
            <input type="text" name="Email" value=" <%= dataUser.Email%>">
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</body>

</html>